<div class="mt-3">
  <mat-horizontal-stepper labelPosition="bottom">
    <mat-step [completed]="false">
      <ng-template matStepLabel>ข้อมูลส่วนตัว</ng-template>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>ข้อมูลบิดา - มารดา</ng-template>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>ข้อมูลผู้ปกครอง</ng-template>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>ข้อมูลคู่สมรส</ng-template>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>ยืนยันการตรวจสอบเอกสาร</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</div>
