<div class="spinner-border text-warning" role="status" *ngIf="pageWaitting" >
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="!pageWaitting" >
  <b>ตรวจสอบเอกสาร</b>
  <p>{{ initialBorrow.type }}</p>

  <div *ngIf="initialBorrow != null">
    <!-- รายใหม่ -->
    <mat-tab-group
      *ngIf="initialBorrow.type != 'รายเก่า'"
      (selectedTabChange)="tabSelect($event)"
    >
      <mat-tab label="กยศ.101">
        <app-std101-std
          *ngIf="tabIndex == 0"
          [route]="routeValue"
        ></app-std101-std>
      </mat-tab>
      <mat-tab label="เอกสารรับรองรายได้"> Content 2 </mat-tab>
      <mat-tab label="กยศ.103"> Content 3 </mat-tab>
      <mat-tab label="กยศ.104"> Content 3 </mat-tab>
      <mat-tab label="เอกสารประกอบ"> Content 3 </mat-tab>
    </mat-tab-group>

    <!-- รายเก่า -->
    <mat-horizontal-stepper
      labelPosition="bottom"
      *ngIf="initialBorrow.type == 'รายเก่า'"
    >
      <mat-step [completed]="false">
        <ng-template matStepLabel>กยศ. 103</ng-template>
      </mat-step>

      <mat-step [completed]="false">
        <ng-template matStepLabel>เอกสารประกอบ</ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
