<div class="row">
  <div class="col-md-3 mb-3">
    <div class="card">
      <div class="card-body">
        <b>นักศึกษา</b>
        <mat-nav-list>
          <mat-list-item>
            <a
              matLine
              [routerLink]="['/student/borrow']"
              routerLinkActive="menu-actived"
            >
              ข้อมูลกู้ยืมกองทุน ({{ service.yearOnSystem() }})
            </a>
          </mat-list-item>
          <mat-list-item>
            <a
              matLine
              [routerLink]="['/student/status']"
              routerLinkActive="menu-actived"
            >
              ตรวจสอบสถานะเอกสาร ({{ service.yearOnSystem() }})
            </a>
          </mat-list-item>
          <mat-list-item>
            <a
              matLine
              [routerLink]="['/student/history']"
              routerLinkActive="menu-actived"
            >
              ประวัติการขอกู้ยืม
            </a>
          </mat-list-item>
          <mat-list-item>
            <a
              matLine
              [routerLink]="['/student/changepass']"
              routerLinkActive="menu-actived"
            >
              เปลี่ยนรหัสผ่าน
            </a>
          </mat-list-item>
          <mat-list-item>
            <a
              matLine
              target="_blank"
              href="https://docs.google.com/forms/d/e/1FAIpQLScYSs1R0xle7KzkQoICpTjH52FmsdXjcLUQGJ4FUZ5N5GnRKA/viewform"
              >แบบประเมินการใช้งานระบบ</a
            >
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </div>
  <div class="col-md-9 mb-3">
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
