<div class="spinner-border text-warning" role="status" *ngIf="pageWaitting">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="!pageWaitting" class="box-padding">
  <div *ngIf="teacherRemark != null">
    <div *ngIf="teacherRemark.remark == 'รอการอนุมัติจากอาจารย์ที่ปรึกษา'">
      <p><b>สถานะ&nbsp;:&nbsp;</b>รอความเห็นจากอาจารย์ที่ปรึกษา</p>
    </div>
    <div *ngIf="teacherRemark.remark != 'รอการอนุมัติจากอาจารย์ที่ปรึกษา'">
      <p>
        <b>ความเห็นจากอาจารย์ที่ปรึกษา&nbsp;:&nbsp;</b
        >{{
          teacherRemark.remark == "เห็นสมควร"
            ? "เห็นควรพิจารณา"
            : teacherRemark.remark == "รอการอนุมัติจากอาจารย์ที่ปรึกษา"
            ? teacherRemark.remark
            : "ไม่เห็นควรพิจารณา เพราะ" + teacherRemark.remark
        }}
      </p>
    </div>
  </div>
  <div *ngIf="teacherRemark == null">
    <p><b>ความเห็นจากอาจารย์ที่ปรึกษา&nbsp;:&nbsp;</b>รอความเห็นจากอาจารย์ที่ปรึกษา</p>
  </div>
</div>
