<div class="text-center">
  <h4 class="mb-3"><b>กองทุนให้กู้ยืม มทร.อีสาน ยินดีต้อนรับ</b></h4>
  <h4 class="mb-3">
    {{ service.localStorage.get("userlogin")["title"]
    }}{{ service.localStorage.get("userlogin")["fname"] }}&nbsp;{{
      service.localStorage.get("userlogin")["lname"]
    }}
  </h4>
</div>

<!-- <div style="margin-top: 50px;">
  <div class="mb-2">
    <h6>
      <b><u>แสดงความประสงค์ขอกู้ยืมเงิน</u></b>
    </h6>
  </div>
  <div class="mb-2">
    <span style="margin-left: 15px;">
      <b>ลักษณะที่ 1 </b>เงินกู้ยืมเพื่อการศึกษา
      ให้แก่นักเรียนหรือนักศึกษาที่ขาดแคลนทุนทรัพย์
    </span>
  </div>
  <div>
    <span style="margin-left: 15px;">
      <b>ลักษณะที่ 2 </b>เงินกู้ยืมเพื่อการศึกษา
      ให้แก่นักเรียนหรือนักศึกษาในสาขาที่เป็นความต้องการหลักฯ
    </span>
  </div>
</div> -->
<div class="text-center">
  <img
    src="https://www.studentloan.or.th/sites/default/files/user/images/logo%E0%B8%81%E0%B8%A2%E0%B8%A8%20%E0%B8%A2%E0%B9%88%E0%B8%AD%20%282%29-01_2.jpg"
    width="300px;"
    alt="logo.png"
  />
</div>

<div class="text-center">
  <h4 class="mb-1"><b>โปรดเลือก ปีการศึกษาและภาคการศึกษา</b></h4>
  <button
    type="button"
    class="btn btn-link"
    [routerLink]="['/student/borrow/1']"
  >
    ปีการศึกษา&nbsp;{{ service.yearOnSystem() }}&nbsp;ภาคเรียนที่&nbsp;1
  </button>
  <br />
  <button
    type="button"
    class="btn btn-link"
    [routerLink]="['/student/borrow/2']"
  >
    ปีการศึกษา&nbsp;{{ service.yearOnSystem() }}&nbsp;ภาคเรียนที่&nbsp;2
  </button>
</div>
