<b>เปลี่ยนรหัสผ่าน</b>

<div class="box-padding">
  <div class="row">
    <div class="col-md-5">
      <form
        [formGroup]="formRepassword"
        (ngSubmit)="
          formRepassword.valid
            ? submitFormRepassword()
            : service.alert.alert('warning', 'โปรดกรอกข้อมูลให้ถูกต้อง')
        "
      >
        <div class="form-group">
          <label for="username">ชื่อผู้ใช้งาน</label>
          <input
            type="text"
            class="form-control"
            id="username"
            readonly
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <label for="oldpass">รหัสผ่านเดิม</label>
          <input
            type="password"
            class="form-control"
            id="oldpass"
            formControlName="oldPw"
          />
        </div>
        <div class="form-group">
          <label for="newpass">รหัสผ่านใหม่</label>
          <input
            type="password"
            class="form-control"
            id="newpass"
            formControlName="newPw"
            aria-describedby="newpass"
          />
          <small id="newpass" class="form-text text-muted"
            >ใช้รหัสผ่านความยาวตั้งแต่ 8-20 ตัวอักษร</small
          >
        </div>
        <div class="form-group">
          <label for="c_newpass">ยืนยันรหัสผ่านใหม่</label>
          <input
            type="password"
            class="form-control"
            id="c_newpass"
            formControlName="c_newPw"
            aria-describedby="c_newpass"
          />
          <small id="c_newpass" class="form-text text-muted"
            >ใช้รหัสผ่านความยาวตั้งแต่ 8-20 ตัวอักษร</small
          >
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-warning btn-sm">
            บันทึกข้อมูล
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
