<div>
  <div>
    <b>คุณสมบัติของผู้กู้ยืมเงิน กยศ.</b>
  </div>
  <div class="text-center">
    <div>
      <img
        src="https://www.studentloan.or.th/sites/default/files/user/images/9464706238175.jpg"
        width="50%"
        alt="9464706238175.jpg"
      />
    </div>

    <div class="mt-3">
      <img
        src="https://www.studentloan.or.th/sites/default/files/user/images/%E0%B8%84%E0%B8%B8%E0%B8%93%E0%B8%AA%E0%B8%A1%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%B4....jpg"
        width="50%"
        alt="9464706238175.jpg"
      />
    </div>
  </div>

  <div class="box-padding">
    <p class="mt-3">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กรณีที่ผู้ขอกู้ยืมรายใดเคยกู้ยืมเงินกองทุน
      กยศ.หรือกองทุน กรอ. มาแล้ว แต่ผิดนัดชำระหนี้
      และได้ทำสัญญาประนีประนอมยอมความก่อนฟ้องคดี
      และ/หรือเคยถูกฟ้องร้องดำเนินคดีมาแล้ว
      ผู้ขอกู้ยืมรายนั้นสามารถกู้ยืมเงินกองทุนต่อไป
      หากได้ชำระหนี้ตามสัญญาประนีประนอมยอมความ
      หรือชำระหนี้ตามคำพิพากษาจนเสร็จสิ้นแล้ว
    </p>
    <!-- <p class="mt-3">
      <b>ประกาศสำหรับการให้กู้ยืมปีการศึกษา 2562</b>
    </p>
    <ul>
      <li>
        <p>
          ประกาศคณะกรรมการกองทุนเงินให้กู้ยืมเพื่อการศึกษา เรื่อง
          คุณสมบัติเฉพาะของนักเรียนหรือนักศึกษาผู้กู้ยืมเงินกองทุน ในลักษณะที่ 1
          :
          ให้การสนับสนุนและส่งเสริมการศึกษาแก่นักเรียนหรือนักศึกษาที่ขาดแคลนทุนทรัพย์
          พ.ศ.2561 ...คลิก (ให้ใช้บังคับกับการดำเนินงานกองทุนตั้งแต่ปีการศึกษา
          2562 เป็นต้นไป)
        </p>
      </li>
      <li>
        <p>
          ประกาศคณะกรรมการกองทุนเงินให้กู้ยืมเพื่อการศึกษา เรื่อง
          คุณสมบัติเฉพาะของนักเรียนหรือนักศึกษาผู้กู้ยืมเงินกองทุน ในลักษณะที่ 2
          :
          ให้การสนับสนุนและส่งเสริมการศึกษาแก่นักเรียนหรือนักศึกษาที่เป็นความต้องการหลัก
          ซึ่งมีความชัดเจนของการผลิตกำลังคนและมีความจำเป็นต่อการพัฒนาประเทศ
          พ.ศ.2561 (ให้ใช้บังคับกับการดำเนินงานกองทุนตั้งแต่ปีการศึกษา 2562
          เป็นต้นไป)
        </p>
      </li>
    </ul> -->
  </div>
</div>
