<div *ngIf="!confirmWait">
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="remark == 'เอกสารไม่ถูกต้อง'"
  >
    <b>เอกสารไม่ถูกต้อง</b> : {{ remark2 }}
  </div>
  <div
    class="alert alert-success"
    role="alert"
    *ngIf="remark == 'เอกสารถูกต้อง'"
  >
    <b>ผ่านการตรวจสอบแล้ว</b> : {{ remark }}
  </div>
  <div
    class="alert alert-warning"
    role="alert"
    *ngIf="remark == 'รอการตรวจสอบจากเจ้าหน้าที่กองทุน'"
  >
    <b>รอการตรวจสอบจากเจ้าหน้าที่กองทุน</b>
  </div>
</div>

<div *ngIf="onLoadForm && !confirmWait">
  <div class="text-center mt-3 mb-3">
    <p style="margin:unset;">แบบคำขอกู้ยืมเงิน</p>
    <p style="margin:unset;">กองทุนเงินให้กู้ยืมเพื่อการศึกษา</p>
    <p style="margin:unset;">ประจำปีการศึกษา {{ service.yearOnSystem() }}</p>
    <p style="margin:unset;">
      สถานศึกษา มทร.อีสาน
    </p>
  </div>

  <mat-horizontal-stepper
    labelPosition="bottom"
    #stepper
    (selectionChange)="tabsSelect($event)"
    [selectedIndex]="selectedIndex"
  >
    <mat-step [completed]="false" *ngFor="let x of listPage">
      <ng-template matStepLabel>{{ x.title }}</ng-template>

      <div class="spinner-border text-warning" role="status" *ngIf="pageWait">
        <span class="sr-only">Loading...</span>
      </div>
      <router-outlet *ngIf="!pageWait"></router-outlet>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div class="spinner-border text-warning" role="status" *ngIf="confirmWait">
  <span class="sr-only">Loading...</span>
</div>
