<div class="spinner-border text-warning" role="status" *ngIf="pageWaitting">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="!pageWaitting">
  <b>ตรวจสอบสถานะ ปีการศึกษา{{ service.yearOnSystem() }}</b>
  <div class="box-padding">
    <div class="mt-3" *ngIf="history1.type != 'รายเก่า'">
      <b><p>ภาคเรียนที่ 1</p></b>
      <div class="mb-3">({{ history1.type }})</div>
      <table class="table table-bordered table-sm table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">เอกสาร</th>
            <th scope="col">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>กยศ.101</td>
            <td>
              {{ getFormDoc(statusTerm1, "101") }}
            </td>
          </tr>
          <tr>
            <td>เอกสารรับรองรายได้</td>
            <td>
              {{ getFormDoc(statusTerm1, "102") }}
            </td>
          </tr>
          <!-- <tr>
            <td>กยศ.103</td>
            <td>
              {{
                teacherRemark == null
                  ? "ยังไม่ยืนยันเอกสาร"
                  : teacherRemark == "เห็นสมควร" ||
                    teacherRemark == "รอความเห็นจากอาจารย์ที่ปรึกษา"
                  ? teacherRemark
                  : "ไม่เห็นสมควร เพราะ" + teacherRemark
              }}
            </td>
          </tr> -->
          <tr>
            <td>กยศ.104</td>
            <td>
              {{ getFormDoc(statusTerm1, "104") }}
            </td>
          </tr>
          <tr>
            <td>เอกสารประกอบ</td>
            <td>
              {{ getFormDoc(statusTerm1, "doc") }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-3" *ngIf="history1.type == 'รายเก่า'">
      <b><p>ภาคเรียนที่ 1</p></b>
      <div class="mb-3">({{ history1.type }})</div>
      <table class="table table-bordered table-sm table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">เอกสาร</th>
            <th scope="col">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>เอกสารรับรองรายได้</td>
            <td>
              {{ getFormDoc(statusTerm1, "102") }}
            </td>
          </tr>
          <!-- <tr>
            <td>กยศ.103</td>
            <td>
              {{
                teacherRemark == null
                  ? "ยังไม่ยืนยันเอกสาร"
                  : teacherRemark == "เห็นสมควร" ||
                    teacherRemark == "รอความเห็นจากอาจารย์ที่ปรึกษา"
                  ? teacherRemark
                  : "ไม่เห็นสมควร เพราะ" + teacherRemark
              }}
            </td>
          </tr> -->
          <tr>
            <td>เอกสารประกอบ</td>
            <td>
              {{ getFormDoc(statusTerm1, "doc") }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-3">
      <p class="mb-3"><b>ภาคเรียนที่ 2</b></p>
      <table class="table table-bordered table-sm table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">เอกสาร</th>
            <th scope="col">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
          <td>กยศ.103</td>
          <td>
            {{ teacherRemark == null ? "ยังไม่ยืนยันเอกสาร" : teacherRemark }}
          </td>
        </tr> -->
          <tr>
            <td>เอกสารประกอบ</td>
            <td>
              {{ getFormDoc(statusTerm2, "doc") }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
