<div class="mt-3">
  <div class="spinner-border text-warning" role="status" *ngIf="pageWaitting">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="!pageWaitting">
    <div *ngIf="!foundTeacher">
      ไม่พบข้อมูลอาจารย์ที่ปรึกษา โปรดตรวจสอบข้อมูลที่กยศ.101
    </div>
    <div *ngIf="foundTeacher">
      <div *ngIf="teacherRemark == null">
        <button type="button" class="btn btn-warning" (click)="sendToTeacher()">
          ส่ง กยศ.103 ถึง อาจารย์ที่ปรึกษา
        </button>
      </div>

      <div *ngIf="teacherRemark != null">
        <b>ความเห็นจากอาจารย์ที่ปรึกษา : </b
        >{{
          teacherRemark == "เห็นสมควร"
            ? "เห็นควรพิจารณา"
            : teacherRemark == "รอความเห็นจากอาจารย์ที่ปรึกษา"
            ? teacherRemark
            : "ไม่เห็นควรพิจารณา เพราะ" + teacherRemark
        }}
      </div>
    </div>
  </div>
</div>
