<div class="container">
  <div class="text-center">
    <img src="./assets/Img/rm.png" width="20%" alt="rm.png" />
  </div>
  <div>
    <p>1. อัตลักษณ์บัณฑิต มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน</p>
    <b class="ml-3" style="color: #F16821;">"บัณฑิตนักปฏิบัติ"</b>
    <p class="mt-3">2. อัตลักษณ์มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน</p>
    <b class="ml-3" style="color: #F16821;"
      >"มหาวิทยาลัยที่ผลิตบัณฑิตที่มีทักษะพร้อมปฏิบัติงาน"</b
    >
    <p class="mt-3">3. เอกลักษณ์มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน</p>
    <b class="ml-3" style="color: #F16821;"
      >"มหาวิทยาลัยเทคโนโลยีแห่งการสร้างอาชีพเฉพาะทาง"</b
    >
  </div>
</div>
