<b>ข่าวบริการนักศึกษา</b>
<div class="container">
  <div class="mt-3 mb-3 text-center">
    <img src="./assets/Img/rm.png" width="20%" alt="rm.png" />
  </div>
  <div>
    <p>1. อัตลักษณ์บัณฑิต มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน</p>
    <b class="ml-3" style="color: #f16821;">"บัณฑิตนักปฏิบัติ"</b>
    <p class="mt-3">2. อัตลักษณ์มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน</p>
    <b class="ml-3" style="color: #f16821;"
      >"มหาวิทยาลัยที่ผลิตบัณฑิตที่มีทักษะพร้อมปฏิบัติงาน"</b
    >
    <p class="mt-3">3. เอกลักษณ์มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน</p>
    <b class="ml-3" style="color: #f16821;"
      >"มหาวิทยาลัยเทคโนโลยีแห่งการสร้างอาชีพเฉพาะทาง"</b
    >
    <!-- <div class="mb-3">
      <a
        href="https://www.rmuti.ac.th/news/attach/6fe85cd968a54650c234c8d2b560a73c-20200303-2-1606-9793.pdf"
        target="_blank"
        class="mb-3"
        >> คลิกกำหนดการส่งเอกสารกู้ยืมเงินกองทุนเงินให้กู้ยืมเพื่อการศึกษา
        นักศึกษารายเก่าเลื่อนชั้นปี ( รหัสนักศึกษาขึ้นต้นด้วย 59 - 62 )
        ภาคเรียนที่ 1/2563 มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน นครราชสีมา</a
      >
    </div>

    <div class="mb-3">
      <a
        href="https://www.rmuti.ac.th/news/attach/6fe85cd968a54650c234c8d2b560a73c-20200303-1-1606-9793.pdf"
        target="_blank"
        class="mb-3"
        >> คลิกเอกสารประกอบการยื่นขอกู้ยืมเงินของนักศึกษาผู้กู้ยืมรายใหม่
        ชั้นปีที่ 2- 5 มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน ประจำปีการศึกษา 2563</a
      >
    </div>

    <hr />

    <div class="text-center">
      <img
        src="./assets/DeepinScreenshot_select-area_20200312085641.png"
        alt="asd"
      />
      <hr />
      <img
        src="./assets/DeepinScreenshot_select-area_20200312085934.png"
        alt="asd"
      />
    </div> -->
  </div>
</div>
