<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">เข้าสู่ระบบ</h5>
        <div class="row justify-content-center">
          <div class="col-md-10 mt-3">
            <form [formGroup]="formLogin" (ngSubmit)="submitLogin()">
              <mat-form-field>
                <mat-label>ประเภทผู้ใช้งาน</mat-label>
                <mat-select formControlName="role">
                  <mat-option [value]="'4500'">
                    นักศึกษา
                  </mat-option>
                  <mat-option [value]="'3500'">
                    อาจารย์ที่ปรึกษา
                  </mat-option>
                  <mat-option [value]="'2500'">
                    เจ้าหน้าที่กองทุน
                  </mat-option>
                  <mat-option [value]="'1500'">
                    ผู้บริหาร
                  </mat-option>
                  <mat-option [value]="'500'">
                    ผู้ดูแลระบบ
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="ชื่อผู้ใช้งาน"
                  formControlName="username"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="รหัสผ่าน"
                  formControlName="password"
                  type="password"
                />
              </mat-form-field>
              <div class="text-center mt-3">
                <button
                  type="submit"
                  class="btn btn-warning"
                  [disabled]="loginWaiting"
                >
                  <span
                    *ngIf="loginWaiting"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  เข้าสู่ระบบ
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
