<div>
  <div>
    <b>ขั้นตอนการกู้ยืมเงินกองทุนเงินให้กู้ยืมเพื่อการศึกษา</b>
  </div>
  <div class="">
    <mat-tab-group>
      <mat-tab label="ภาคเรียนที่ 1">
        <div class="box-padding text-center">
          <div>
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Semi1-1.jpg"
              width="80%"
              alt="Semi1-1.jpg"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Semi1-2.jpg"
              width="80%"
              alt="Semi1-2.jpg"
            />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="ภาคเรียนที่ 2">
        <div class="box-padding text-center">
          <div>
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Semi2-1.jpg"
              width="80%"
              alt="Slide3.JPG"
            />
          </div>
          <!-- <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide4.JPG"
              width="70%"
              alt="Slide4.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide5.JPG"
              width="70%"
              alt="Slide5.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide6.JPG"
              width="70%"
              alt="Slide6.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide7.JPG"
              width="70%"
              alt="Slide7.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide8.JPG"
              width="70%"
              alt="Slide8.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide9.JPG"
              width="70%"
              alt="Slide9.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide10.JPG"
              width="70%"
              alt="Slide10.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide10.JPG"
              width="70%"
              alt="Slide10.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide11.JPG"
              width="70%"
              alt="Slide11.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide12.JPG"
              width="70%"
              alt="Slide12.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/13.jpg"
              width="70%"
              alt="13.jpg"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide14.JPG"
              width="70%"
              alt="Slide14.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide15.JPG"
              width="70%"
              alt="Slide15.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/Slide16.JPG"
              width="70%"
              alt="Slide16.JPG"
            />
          </div>
          <div class="mt-3">
            <img
              src="https://www.studentloan.or.th/sites/default/files/images/highlight/_Page_17.jpg"
              width="70%"
              alt="_Page_17.jpg"
            />
          </div> -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
