/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

// body.swal2-height-auto {
//   all: unset !important;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: unset !important;
}

* {
  font-family: "Prompt", sans-serif !important;
}

.material-icons {
  font-family: "Material Icons" !important;
}

.menu-actived {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: unset !important;
  a {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
  }
}

mat-form-field {
  width: 100%;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.vertical-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.vertical-radio-button {
  margin: 5px;
}

.box-padding {
  padding: 15px;
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}
