<h5>
  <b
    >รายชื่อนักศึกษาที่มีความประสงค์ขอกู้ยืม ปีการศึกษา{{
      service.yearOnSystem()
    }}</b
  >
</h5>
<p>{{ service.localStorage.get("userlogin")["campus_name"] }}</p>
<div class="box-padding">
  <div
    class="spinner-border text-warning"
    role="status"
    *ngIf="studentInitial == null"
  >
    <span class="sr-only">Loading...</span>
  </div>

  <div class="mt-3">
    <div class="mb-1">
      <b>กรองข้อมูล</b>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>ภาคเรียน</mat-label>
          <mat-select [(ngModel)]="termSelect">
            <mat-option [value]="'1'">
              {{ "ภาคเรียนที่ 1" }}
            </mat-option>
            <mat-option [value]="'2'">
              {{ "ภาคเรียนที่ 2" }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>คณะ</mat-label>
          <mat-select
            #departmentSelect
            (valueChange)="groupSelect.value = ''; branch.value = ''"
          >
            <mat-option value="" selected>
              {{ "กรุณาเลือกคณะ" }}
            </mat-option>
            <mat-option
              *ngFor="let x of getDepartment()"
              [value]="x.code"
              [hidden]="!x.code"
            >
              {{ x.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>กลุ่มสาขาวิชา</mat-label>
          <mat-select #groupSelect (valueChange)="branch.value = ''">
            <mat-option value="" selected>
              {{ "กรุณาเลือกกลุ่มสาขาวิชา" }}
            </mat-option>
            <mat-option
              *ngFor="let x of getGroup(departmentSelect.value)"
              [value]="x.code"
              [hidden]="!x.code"
            >
              {{ x.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>สาขาวิชา</mat-label>
          <mat-select #branch>
            <mat-option value="" selected>
              {{ "กรุณาเลือกสาขาวิชา" }}
            </mat-option>
            <mat-option
              *ngFor="let x of getBranch(groupSelect.value)"
              [value]="x.code"
              [hidden]="!x.code"
            >
              {{ x.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <table
      class="table table-striped table-sm table-hover table-borderless"
      *ngIf="studentInitial != null && branch.value"
    >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ชื่อ</th>
          <th scope="col">ประเภท</th>
          <th scope="col">สถานะ</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="searchStudent(branch.value).length > 0">
        <tr *ngFor="let x of searchStudent(branch.value); let i = index">
          <td style="vertical-align: middle;">{{ i + 1 }}</td>
          <td style="vertical-align: middle;">
            {{ x.title + "" + x.fname + " " + x.lname }}
          </td>
          <td style="vertical-align: middle;">{{ x.type }}</td>
          <td style="vertical-align: middle;">
            {{
              x.remark == "อนุมัติให้กู้ยืม"
                ? x.remark
                : x.remark == "ไม่อนุมัติให้กู้ยืม"
                ? x.remark + " เพราะ" + x.remark2
                : "เอกสารสมบูรณ์"
            }}
          </td>
          <td style="vertical-align: middle;">
            <button
              type="button"
              class="btn btn-warning btn-sm"
              data-toggle="modal"
              data-target="#confirmInitial"
              (click)="studentSelect(x)"
            >
              พิจารณาการกู้ยืม
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="searchStudent(branch.value).length <= 0">
        <tr>
          <td colspan="6">ไม่พบข้อมูลนักศึกษา</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="confirmInitial"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmInitialLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <form
      [formGroup]="formFirst"
      (ngSubmit)="
        formFirst.valid
          ? submitFormFirst()
          : this.service.alert.alert('warning', 'โปรดกรอกข้อมูลให้ครบถ้วน')
      "
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmInitialLabel">พิจารณาการกู้ยืม</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectStudent != null">
          <div class="text-center">
            <img
              src="{{ service.filePath + selectStudent.imgpath }}"
              width="250px;"
              alt="studentImg"
            />
          </div>
          <div class="mt-3">
            <p><b>รหัสนักศึกษา :</b> {{ selectStudent.studentId }}</p>
            <p class="mt-1">
              <b>ชื่อ :</b> {{ selectStudent.title
              }}{{ selectStudent.fname }}&nbsp;{{ selectStudent.lname }}
            </p>
            <p class="mt-1">
              <b>หมายเลขโทรศัพท์ :</b> {{ selectStudent.phone }}
            </p>
            <p class="mt-1">
              <b>ค่าเล่าเรียน :</b>
              {{ service.numberWithCommas(selectStudent.termMoney) }}
            </p>
            <p class="mt-1">
              <b>ค่าใช้จ่ายรายเดือน :</b>
              {{
                selectStudent.monthMoney == "กู้"
                  ? service.numberWithCommas("14400")
                  : "ไม่กู้"
              }}
            </p>
          </div>
          <div class="mt-3">
            <a
              class="btn btn-secondary btn-sm"
              href="{{
                '/committee/confirm/' +
                  termSelect +
                  '/' +
                  selectStudent.username +
                  '/committee'
              }}"
              target="_blank"
              role="button"
              >ตรวจสอบเอกสาร</a
            >
          </div>
          <hr />
          <mat-radio-group
            class="vertical-radio-group"
            formControlName="remark"
            (change)="formFirst.patchValue({ remark2: '' })"
          >
            <mat-radio-button
              class="vertical-radio-button"
              value="อนุมัติให้กู้ยืม"
            >
              อนุมัติให้กู้ยืม
            </mat-radio-button>
            <mat-radio-button
              class="vertical-radio-button"
              value="ไม่อนุมัติให้กู้ยืม"
            >
              ไม่อนุมัติให้กู้ยืม
            </mat-radio-button>
          </mat-radio-group>

          <mat-form-field
            *ngIf="formFirst.value.remark == 'ไม่อนุมัติให้กู้ยืม'"
          >
            <input matInput placeholder="เหตุผล" formControlName="remark2" />
          </mat-form-field>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            ปิด
          </button>
          <button type="submit" class="btn btn-warning">บันทึก</button>
        </div>
      </div>
    </form>
  </div>
</div>
