<div>
  <div>
    <b>ความเป็นมาของกองทุน</b>
  </div>

  <div class="box-padding">
    <div class="text-center">
      <img
        src="https://www.studentloan.or.th/sites/default/files/user/images/logo%E0%B8%81%E0%B8%A2%E0%B8%A8%20%E0%B8%A2%E0%B9%88%E0%B8%AD%20%282%29-01_2.jpg"
        width="300px;"
        alt="logo.png"
      />
    </div>
    <p class="mt-3">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กองทุนเงินให้กู้ยืมเพื่อการศึกษา (กยศ.)
      จัดตั้งขึ้นตามมติคณะรัฐมนตรีเมื่อวันที่ 28 มีนาคม พ.ศ. 2538
      และมติคณะรัฐมนตรีเมื่อวันที่ 16 มกราคม พ.ศ. 2539
      ให้เริ่มดำเนินการกองทุนในลักษณะเงินทุนหมุนเวียน ตามนัยมาตรา 12
      แห่งพระราชบัญญัติเงินคงคลัง พ.ศ. 2491
      ต่อมารัฐบาลได้พิจารณาเห็นความสำคัญของกองทุนเงินให้กู้ยืมเพื่อการศึกษามากขึ้น
      จึงได้มีการประกาศใช้พระราชบัญญัติกองทุนเงินให้กู้ยืมเพื่อการศึกษา พ.ศ.
      2541 มีผลให้กองทุนเงินให้กู้ยืมเพื่อการศึกษามีฐานะเป็นนิติบุคคล
      โดยอยู่ในการกำกับดูแลของกระทรวงการคลัง
      มีวัตถุประสงค์ให้กู้ยืมเงินแก่นักเรียนหรือนักศึกษาที่ขาดแคลนทุนทรัพย์เพื่อเป็นค่าเล่าเรียน
      ค่าใช้จ่ายที่เกี่ยวเนื่องกับการศึกษา
      และค่าใช้จ่ายที่จำเป็นในการครองชีพระหว่างศึกษา
    </p>

    <p class="mt-3">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปัจจุบัน
      พระราชบัญญัติกองทุนเงินให้กู้ยืมเพื่อการศึกษา พ.ศ. 2560
      ได้ประกาศในราชกิจจานุเบกษา เมื่อวันที่ 27 มกราคม 2560
      และมีผลบังคับใช้เมื่อวันที่ 26 กรกฎาคม 2560
      มีผลให้กองทุนเงินให้กู้ยืมเพื่อการศึกษาอยู่ในการกำกับดูแลของรัฐมนตรี
      และมีฐานะเป็นนิติบุคคลที่ไม่เป็นส่วนราชการตามกฎหมายว่าด้วยระเบียบบริหารราชการแผ่นดินหรือรัฐวิสาหกิจตามกฎหมายว่าด้วยวิธีการงบประมาณและกฎหมายอื่น
      เนื่องจากกองทุนเงินให้กู้ยืมเพื่อการศึกษาตามพระราชบัญญัติกองทุนเงินให้กู้ยืมเพื่อการศึกษา
      พ.ศ. 2541
      และกองทุนเงินกู้ยืมเพื่อการศึกษาที่ผูกกับรายได้ในอนาคตตามระเบียบกระทรวงการคลัง
      ว่าด้วยการบริหารกองทุนเพื่อการศึกษา พ.ศ. 2549
      ที่ออกตามพระราชบัญญัติเงินคงคลัง พ.ศ. 2491
      มีการบริหารจัดการและการดำเนินการที่มีข้อจำกัด
      และไม่สอดคล้องกับนโยบายการผลิตกำลังคนและการพัฒนาประเทศสมควรบูรณาการการบริหารจัดการและการดำเนินการของกองทุน
      กยศ. และกองทุน กรอ. ให้เป็นเอกภาพอยู่ภายใต้กฎหมายเดียวกัน
      และเพิ่มมาตรการในการบริหารจัดการกองทุนให้มีประสิทธิภาพมากยิ่งขึ้น
    </p>
  </div>
</div>
