<div class="mb-3">
  <b>เปลี่ยนรูปประจำตัว</b>
  <div class="mt-1">
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      (click)="service.jq('imgUpload').click()"
    >
      เลือกไฟล์
    </button>
  </div>

  <div class="input-group" [hidden]="'true'">
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="imgUpload"
        (change)="fileUpload($event)"
        accept=".png,.jpg"
      />
      <label class="custom-file-label" for="imgUpload">
        {{ "เลือกไฟล์ใหม่" }}
      </label>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="imgShow != null">
  <img src="{{ service.filePath + imgShow }}" width="250px" alt="imgShow" />
</div>

<div class="mt-3 text-center" *ngIf="imgShow != null">
  <button
    type="button"
    class="btn btn-warning btn-sm"
    (click)="submitProfile()"
  >
    บันทึก
  </button>
</div>
